In [5]:
#Import the libraries
import pandas as pd
import numpy as np

In [7]:
# read the csv file from github
death_file = pd.read_csv('https://raw.githubusercontent.com/khoocheeshin/HIAGroupProject/refs/heads/main/deaths_malaysia.csv')

In [9]:
death_file.head(10)

,date,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-03-17,2,0,2,0,2,0,0,0,0
1,2020-03-18,0,0,0,0,0,0,0,0,0
2,2020-03-19,0,0,0,0,0,0,0,0,0
3,2020-03-20,1,0,1,0,1,0,0,0,0
4,2020-03-21,4,0,4,0,4,0,0,0,0
5,2020-03-22,4,1,4,1,4,0,0,0,0
6,2020-03-23,5,0,5,0,5,0,0,0,0
7,2020-03-24,2,0,2,0,2,0,0,0,0
8,2020-03-25,3,0,3,0,3,0,0,0,0
9,2020-03-26,5,0,5,0,5,0,0,0,0

In [11]:
death_file.tail(10)

,date,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
1696,2024-11-07,0,0,0,0,0,0,0,0,0
1697,2024-11-08,0,0,0,0,0,0,0,0,0
1698,2024-11-09,0,0,0,0,0,0,0,0,0
1699,2024-11-10,0,0,0,0,0,0,0,0,0
1700,2024-11-11,0,0,0,0,0,0,0,0,0
1701,2024-11-12,0,0,0,0,0,0,0,0,0
1702,2024-11-13,0,0,0,0,0,0,0,0,0
1703,2024-11-14,0,0,0,0,0,0,0,0,0
1704,2024-11-15,0,0,0,0,0,0,0,0,0
1705,2024-11-16,0,0,0,0,0,0,0,0,0

In [13]:
death_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706 entries, 0 to 1705
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1706 non-null   object
 1   deaths_new      1706 non-null   int64
 2   deaths_bid      1706 non-null   int64
 3   deaths_new_dod  1706 non-null   int64
 4   deaths_bid_dod  1706 non-null   int64
 5   deaths_unvax    1706 non-null   int64
 6   deaths_pvax     1706 non-null   int64
 7   deaths_fvax     1706 non-null   int64
 8   deaths_boost    1706 non-null   int64
 9   deaths_tat      1706 non-null   int64
dtypes: int64(9), object(1)
memory usage: 133.4+ KB

In [15]:
# check the dimension of the dataset
death_file.shape

(1706, 10)

In [17]:
death_file.isnull().sum()

date              0
deaths_new        0
deaths_bid        0
deaths_new_dod    0
deaths_bid_dod    0
deaths_unvax      0
deaths_pvax       0
deaths_fvax       0
deaths_boost      0
deaths_tat        0
dtype: int64

In [14]:
death_file.isna().sum()

date              0
deaths_new        0
deaths_bid        0
deaths_new_dod    0
deaths_bid_dod    0
deaths_unvax      0
deaths_pvax       0
deaths_fvax       0
deaths_boost      0
deaths_tat        0
dtype: int64

In [19]:
death_file.dtypes

date              object
deaths_new         int64
deaths_bid         int64
deaths_new_dod     int64
deaths_bid_dod     int64
deaths_unvax       int64
deaths_pvax        int64
deaths_fvax        int64
deaths_boost       int64
deaths_tat         int64
dtype: object